.descheader {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.descitems {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

.lefttext {
  width: 70%;
}

.lefttext ul {
  display: block;
  margin-bottom: 1em;
  line-height: 40%;
}

.lefttext li {
  margin-bottom: 1em;
}

.lefttext span {
  line-height: 1em;
}

.textblock {
  margin-bottom: 1em;
  line-height: 2em;
}

.lefttext {
  text-align: start;
  font-size: 17px;
}

.descpic {
  margin-left: 5em;
}

.descpic img {
  width: 300;
  height: 300;
}

#bold {
  font-weight: 800;
}
