@media (min-width: 350px) and (max-width: 980px) {
  .icon-background {
    background-color: #8eae15;
    width: 100vw;
  }

  .icons {
    display: none !important;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }

  .icons span {
    display: inline-block;
    margin-bottom: 1em;
  }

  .cell {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #bottext {
    font-size: 13px;
  }
}

@media (min-width: 981px) {
  .icon-background {
    background-color: #8eae15;
    width: 100%;
  }

  .icons {
    display: none !important;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .icons span {
    display: inline-block;
    margin-bottom: 1em;
  }

  .cell {
    width: 100%;
    margin: 1em;
  }

  #bottext {
    font-size: 13px;
    margin: 0;
  }
}
