.icon-background {
  background-color: #8eae15;
  width: 100%;
}

.icons {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3em;
}

.icons th {
  padding-top: 3em;
}

#toptext td {
  font-size: 18px;
  color: white;
  padding-bottom: 1em;
}

#bottomtext {
  width: 70%;
  font-size: 13px;
  color: white;
  line-height: 2em;
}
