@media (min-width: 350px) and (max-width: 980px) {
  .bodycontainer {
    background-color: #8dae12;
    height: 100%;
    width: 100vw;
    text-align: start;
    padding-top: 7em;
    padding-bottom: 13em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9em;
  }

  .bodycontent {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .infobox {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1%;
  }

  .email {
    margin-top: 3em;
  }

  .form-group-body {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .form-group-body input {
    margin-top: 1em;

    width: 30%;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
  }

  .form-group-body button {
    background-color: purple;
    margin-left: 1em;
    width: 20%;
    padding: 1em;
    font-size: 1em;
    border-radius: 8px;
    box-shadow: none;
    color: white;
    text-decoration: none;
  }

  .imagecontainer {
    padding-right: 4em;
  }

  #header {
    text-align: left;
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    overflow-wrap: break-word;
    margin: 0;
    margin-top: 1em;
  }

  #description {
    display: block;
    font-size: small;
    line-height: 170%;
    width: 100%;
    margin-top: 2em;
  }

  #description2 {
    display: block;
    font-size: small;
    line-height: 170%;
    width: 100%;
    margin-top: 2em;
    color: black;
  }

  #help {
    margin-top: 30%;
    font-size: 2em;
  }

  #emailbutton {
    background-color: purple;
    margin-top: 1em;
    width: 52%;
    padding: 1em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }

  #emailbutton :hover {
    background-color: wheat;
  }

  #inputbox {
    width: 60%;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
  }

  #bodyimage {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 981px) {
  .bodycontainer {
    display: flex;
    flex-direction: row;
    background-color: #8dae12;
    height: 100%;
    width: auto;
    border-bottom-left-radius: 140% 40%;
    border-bottom-right-radius: 140% 40%;
    text-align: start;
    padding-top: 7em;
    padding-left: 7em;
    padding-bottom: 10em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9em;
  }

  .infobox {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1%;
  }

  .email {
    margin-top: 3em;
  }

  .form-group-body {
    margin-top: 2em;
  }

  .form-group-body input {
    margin-top: 1em;
    width: 30%;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
  }

  .form-group-body button {
    background-color: purple;
    margin-left: 1em;
    width: 20%;
    padding: 1em;
    font-size: 1em;
    border-radius: 8px;
    box-shadow: none;
    color: white;
    text-decoration: none;
  }

  .imagecontainer {
    padding-top: 3em;
    padding-right: 4em;
  }

  #header {
    width: 50%;
    font-size: 2em;
    font-weight: 500;
    overflow-wrap: break-word;
    margin: 0;
    margin-top: 1em;
  }

  #description {
    display: block;
    font-size: small;
    line-height: 170%;
    width: 50%;
    margin-top: 2em;
  }

  #description2 {
    display: block;
    font-size: small;
    line-height: 170%;
    width: 30%;
    margin-top: 2em;
    color: black;
  }

  #help {
    margin-top: 30%;
    font-size: 2em;
  }

  #emailbutton {
    background-color: purple;
    margin-left: 1em;
    width: 30%;
    padding: 1em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }

  #emailbutton :hover {
    background-color: wheat;
  }

  #inputbox {
    width: 30%;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
  }

  #bodyimage {
    width: 90%;
    height: 100%;
  }
}
