.elements {
  display: flex;
  width: 100%;
  background-color: white;
}

.browsecomponent {
  display: flex;
  min-width: 40%;
}

#logo {
  width: 60%;
  height: 40%;
}

#browsebutton {
  position: absolute;
  margin-left: 80%;
  margin-right: 20%;
  top: 5%;
  white-space: nowrap;
  padding: 1%;
  font-size: 80%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #8dae12;
  color: #8dae12;
  text-align: center;
  line-height: 1em;
  text-decoration: none;
}

#browsebutton :hover {
  color: #efb0d9;
}
