@media (min-width: 350px) and (max-width: 980px) {
  .elements {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    max-height: 10%;
    background-color: white;
    padding: 1em;
    padding-bottom: 2em;
  }
  .browsecomponent {
    display: flex;
    flex-direction: row;
    width: auto;
    cursor: pointer;
  }

  .routerbutton {
    margin-left: 83%;
    top: 8%;
    position: fixed;
    border-radius: 10px;
    border-width: 1px;
    padding: 1%;
    background-color: white;
    border-color: #8dae12;
    color: #8dae12;

  }

  #logo {
    width: 35vw;
    height: 8vw;
    margin: 1em;
  }

  #browsebutton {
    margin-left: 60vw;
    top: 5%;
    position: fixed;
    white-space: nowrap;
    padding: 1%;
    font-size: 80%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #8dae12;
    color: #8dae12;
    text-align: center;
    line-height: 1em;
    text-decoration: none;
  }

  #browsebutton :hover {
    color: #efb0d9;
  }
}

@media (min-width: 981px) {

  .routerbutton {
    margin-left: 75%;
    margin-top: 1%;
    position: absolute;
    border-radius: 10px;
    border-width: 1px;
    padding: 1%;
    background-color: white;
    border-color: #8dae12;
    color: #8dae12;

  }

  .elements {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    max-height: 10%;
    background-color: white;
    padding: 1em;
    padding-bottom: 2em;
  }
  .browsecomponent {
    display: flex;
    min-width: 40%;
    max-height: 20%;
    cursor: pointer;
  }

  #logo {
    width: 11em;
    min-height: 2em;
    margin: 1em;
  }

  #browsebutton {
    position: absolute;
    margin-left: 80%;
    margin-right: 20%;
    margin-top: 1%;
    white-space: nowrap;
    padding: 1%;
    font-size: 80%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #8dae12;
    color: #8dae12;
    text-align: center;
    line-height: 1em;
    text-decoration: none;
  }

  #browsebutton :hover {
    color: #efb0d9;
  }
}
