.form-control {
  background-color: #f7f7f7;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.dropdown {
  margin-top: 1em;
}

.dropdown {
  width: 50%;
  background-color: gray;
  border-radius: 5px;
  margin: 1em;
}

.form-group {
  text-align: start;
  margin-left: 8em;
  width: 80%;
}

.dropdownbutton {
  background-color: #f7f7f7;
  padding: 1%;
}

.ddcontainer {
  width: 100%;
  margin: 1em;
}

.ddowncontainer {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 100%;
}
.listitem {
  padding: 5px;
}

.listitem:hover {
  background-color: lightsteelblue;
}

#inputbox {
  margin: 1em;
}

#question {
  margin: 1em;
}

#dditem {
  list-style-type: none;
}

#option {
  color: white;
}

#emailbutton {
  margin-top: 1em;
  margin-bottom: 1em;
}
