.carousel {
  margin: 2em;
  margin-left: 5em;
}

.container {
  width: 20em;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: #8dae12;
  border-width: 1px;
  margin-bottom: 2em;
}
#name {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 120%;
  font-weight: 700;
  color: #8dae12;
}
#image {
  width: 100%;
  height: 20em;
}
#school {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 90%;
}
#program {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 90%;
  margin-bottom: 1em;
}
