.carousel {
  margin: 2em;
  margin-left: 10em;
}

.container {
  width: 14em;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: #8dae12;
  border-width: 1px;
  margin-bottom: 2em;
}

.mentortext {
  margin-top: 2em;
  font-size: 2em;
  font-weight: 700;
}

#special {
  font-style: italic;
  color: #8dae12;
}

#name {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 90%;
  font-weight: 700;
  color: #8dae12;
}
#image {
  width: 14em;
  height: 14em;
}
#school {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 80%;
}
#program {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 80%;
  margin-bottom: 1em;
}
