@media (min-width: 350px) and (max-width: 980px) {
    .blogcontainer {
    display: flex;
    flex-direction: row;
    background-color: #8dae12;
    width: 100vw;
    height: 100%;
    width: auto;
    border-bottom-left-radius: 140% 40%;
    border-bottom-right-radius: 140% 40%;
    text-align: start;
    padding-top: 7em;
    padding-left: 7em;
    padding-bottom: 10em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding-top: 9em;
  }

  .blog{
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60vw;
    justify-content: center;
  }

  .content {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
  }

  .active {
    background-color: #666;
    color: white;
  }

  .newstab {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 30;
    background-color: black;
  }

  .tabitem {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin: 1em;
    padding: 1em;
  }

  .news {
    width: 85vw;
    height: 100vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    justify-content: center;
  }

  .shell {
    width: 25vw;
    height: 85vw;
    word-wrap: break-word;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 2px #ccc;
    margin: 1em;
  }

  .newstitle {
    display: inline-block;
    margin-top: 1vw;
    font-weight: 600;
    font-size: 3vw;
    height: 3vw;

  }
  .newspic {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }

  .thumbnail {
    width: 100%;
    object-fit: fill;
  }

  .newstext{
    height: 9vw;
  }

  .newsrow {
    margin-top: 1vw;
    font-size: 1vw;
  }

  .article {
    width: 80%;
  }

  .toptext {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  .bottext{
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bottext span {
    white-space: pre-wrap;
  }

  .photocont {
    text-align: center;
  }

  .artHeader{
    display: block;
    margin-top: 10em;
  }

  #news {
    width: 100vw;
    font-size: 10px;
    word-wrap: break-word;
  }

  #newsimg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  #navbutton {
    background-color: white; /* Green */
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    border-radius: 10px;
  }

  #navbutton:hover {
    background-color: #4caf50;
  }

  #artphoto {
    width: 70vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2em;
  }

  #readMore {
    margin-top: 23em;
    height: 10px;
    width: 60px;
    padding: 0;
    font-size: 7px;
    border: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: white;
    border-color: #4caf50;
    cursor: pointer;
  }
}

@media (min-width: 981px) {
  .blogcontainer {
    display: flex;
    flex-direction: row;
    background-color: #8dae12;
    height: 100%;
    width: auto;
    border-bottom-left-radius: 140% 40%;
    border-bottom-right-radius: 140% 40%;
    text-align: start;
    padding-top: 7em;
    padding-left: 7em;
    padding-bottom: 10em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding-top: 9em;
  }

  .blog{
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    justify-content: center;
  }

  .content {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
  }

  .active {
    background-color: #666;
    color: white;
  }

  .newstab {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 30;
    background-color: black;
  }

  .tabitem {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin: 1em;
    padding: 1em;
  }

  .news {
    width: 85vw;
    height: 100vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    justify-content: center;
  }

  .shell {
    width: 15vw;
    height: 25vw;
    word-wrap: break-word;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 2px #ccc;
    margin: 1em;
  }

  .newstitle {
    display: inline-block;
    margin-top: 1vw;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1vw;
    height: 3vw;

  }
  .newspic {
    margin-left: auto;
    margin-right: auto;
    height: 7em;
  }

  .thumbnail {
    width: 100%;
    object-fit: fill;
  }

  .newstext{
    height: 9vw;
  }

  .newsrow {
    font-size: 1vw;
  }

  .article {
    width: 80%;
  }

  .toptext {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
  }

  .bottext{
    width: 40vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bottext span {
    white-space: pre-wrap;
  }

  .photocont {
    text-align: center;
  }

  .artHeader{
    display: block;
    margin-top: 10em;
  }

  #news {
    width: 100vw;
    font-size: 1vw;
    word-wrap: break-word;
  }

  #newsimg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  #navbutton {
    background-color: white; /* Green */
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }

  #navbutton:hover {
    background-color: #21c24c;
  }

  #artphoto {
    width: 40vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2em;
  }

  #readMore {
    border: none;
    border-width: 2px;
    color: #8dae12;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    border-color: #4caf50;
    cursor: pointer;
  }

  #readMore:hover {
    transform: scale(1.1, 1.1)
  }
}