.bodycontainer {
  display: flex;
  flex-direction: row;
  background-color: #8dae12;
  height: 100%;
  width: auto;
  border-bottom-left-radius: 140% 40%;
  border-bottom-right-radius: 140% 40%;
  text-align: start;
  padding-top: 7em;
  padding-left: 7em;
  padding-bottom: 10em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding-top: 9em;
}

.blog{
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  justify-content: center;
}

.content {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.active {
  background-color: #666;
  color: white;
}

.newstab {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 30;
  background-color: black;
}

.tabitem {
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin: 1em;
  padding: 1em;
}

.news {
  width: 85vw;
  height: 100vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  justify-content: center;
}

.shell {
  padding: 2em;
  width: 15vw;
  height: 25vw;
  word-wrap: break-word;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 2px #ccc;
  margin: 1em;
}

.newstitle {
  display: inline-block;
  margin-top: 1vw;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1vw;
  height: 3vw;

}
.newspic {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2em;
}

.newstext{
  height: 9vw;
}

.newsrow {
  margin-top: 1vw;
  font-size: 1vw;
}

#news {
  width: 100vw;
  font-size: 1vw;
  word-wrap: break-word;
}

#newsimg {
  transform: scale(2);
  max-width: 100%;
  max-height: 100%;
}

#navbutton {
  background-color: white; /* Green */
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

#navbutton:hover {
  background-color: #4caf50;
}
